/*-------------------------- GLOBAL --------------------------*/

@font-face {
    font-family: "Press Start 2P";
    src: url("/static/fonts/PressStart2P-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Inconsolata-regular";
    src: url("/static/fonts/Inconsolata-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Inconsolata-bold";
    src: url("/static/fonts/Inconsolata-Bold.ttf") format("truetype");
}

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    flex: 1 0 auto;
}

/*-------------------------- LANDING SECTION --------------------------*/

#hero-landing {
    background: radial-gradient(circle, rgba(40, 61, 39, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

.hidden {
    opacity: 0;
}

.console-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: 'Press Start 2P', cursive;
    font-size: 3em;
    height: 90vh;
    width: 100%;
    color: lime;
    background-image: url("/static/img/grid1.png");
    background-position: 0% 60%;
    background-size: cover;
}

#text {
    padding-bottom: 50px;
}

.crt::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    height: 90vh;
    pointer-events: none;
    animation: flicker 0.15s infinite;
}

.crt::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    background-size: 100% 2px, 3px 100%;
    height: 90vh;
    pointer-events: none;
}

.crt {
    animation: textShadow 1.6s infinite;
}

@keyframes flicker {
    0% {opacity: 0.27861;}
    5% {opacity: 0.34769;}
    10% {opacity: 0.23604;}
    15% {opacity: 0.90626;}
    20% {opacity: 0.18128;}
    25% {opacity: 0.83891;}
    30% {opacity: 0.65583;}
    35% {opacity: 0.67807;}
    40% {opacity: 0.26559;}
    45% {opacity: 0.84693;}
    50% {opacity: 0.96019;}
    55% {opacity: 0.08594;}
    60% {opacity: 0.20313;}
    65% {opacity: 0.71988;}
    70% {opacity: 0.53455;}
    75% {opacity: 0.37288;}
    80% {opacity: 0.71428;}
    85% {opacity: 0.70419;}
    90% {opacity: 0.7003;}
    95% {opacity: 0.36108;}
    100% {opacity: 0.24387;}
}

@keyframes textShadow {
    0% {text-shadow: 0.4389924193300864px 0 1px rgba(0, 30, 255, 0.5), -0.4389924193300864px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;}
    5% {text-shadow: 2.7928974010788217px 0 1px rgba(0, 30, 255, 0.5), -2.7928974010788217px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;}
    10% {text-shadow: 0.02956275843481219px 0 1px rgba(0, 30, 255, 0.5), -0.02956275843481219px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;}
    15% { text-shadow: 0.40218538552878136px 0 1px rgba(0, 30, 255, 0.5), -0.40218538552878136px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;}
    20% {text-shadow: 3.4794037899852017px 0 1px rgba(0, 30, 255, 0.5), -3.4794037899852017px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;}
    25% {text-shadow: 1.6125630401149584px 0 1px rgba(0, 30, 255, 0.5), -1.6125630401149584px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;}
    30% {text-shadow: 0.7015590085143956px 0 1px rgba(0, 30, 255, 0.5), -0.7015590085143956px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;}
    35% {text-shadow: 3.896914047650351px 0 1px rgba(0, 30, 255, 0.5), -3.896914047650351px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;}
    40% {text-shadow: 3.870905614848819px 0 1px rgba(0, 30, 255, 0.5), -3.870905614848819px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;}
    45% {text-shadow: 2.231056963361899px 0 1px rgba(0, 30, 255, 0.5), -2.231056963361899px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;}
    50% {text-shadow: 0.08084290417898504px 0 1px rgba(0, 30, 255, 0.5), -0.08084290417898504px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;}
    55% {text-shadow: 2.3758461067427543px 0 1px rgba(0, 30, 255, 0.5), -2.3758461067427543px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;}
    60% {text-shadow: 2.202193051050636px 0 1px rgba(0, 30, 255, 0.5), -2.202193051050636px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;}
    65% {text-shadow: 2.8638780614874975px 0 1px rgba(0, 30, 255, 0.5), -2.8638780614874975px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;}
    70% {text-shadow: 0.48874025155497314px 0 1px rgba(0, 30, 255, 0.5), -0.48874025155497314px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;}
    75% {text-shadow: 1.8948491305757957px 0 1px rgba(0, 30, 255, 0.5), -1.8948491305757957px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px; }
    80% {text-shadow: 0.0833037308038857px 0 1px rgba(0, 30, 255, 0.5), -0.0833037308038857px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;}
    85% {text-shadow: 0.09769827255241735px 0 1px rgba(0, 30, 255, 0.5), -0.09769827255241735px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;}
    90% {text-shadow: 3.443339761481782px 0 1px rgba(0, 30, 255, 0.5), -3.443339761481782px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;}
    95% {text-shadow: 2.1841838852799786px 0 1px rgba(0, 30, 255, 0.5), -2.1841838852799786px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;}
    100% {text-shadow: 2.6208764473832513px 0 1px rgba(0, 30, 255, 0.5), -2.6208764473832513px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;}
}

/*-------------------------- NAVBAR --------------------------*/

nav {
    position: sticky;
    top: 0;
    line-height: 56px;
    height: 56px;
    z-index: 10;
    background-color: #000;
}

nav ul a {
    color: lime;
    font-family: "Press Start 2P";
}

.brand-logo img {
    margin: 3px;
    width: 300px;
}

.sidenav-trigger .fas,
.sidenav li a {
    color: lime;
}

#mobile-menu {
    background-color: #000;
    font-family: "Press Start 2P";
}

/*-------------------------- ABOUT SECTION --------------------------*/

#about {
    min-height: 50vh;
    background-color: #ddd;
}

.chris-avatar {
    margin: 20px auto;
    position: relative;
}

.chris-avatar img {
    height: 100%;
    position: absolute;
    width: 350px;
    height: 300px;
    border-radius: 1em;
    transition: all 1s ease-in-out;
}

.chris-original {
    box-shadow: 2px 8px 12px rgba(0, 0, 0, 0.5);
}

.chris-overlay {
    opacity: 0;
}

.chris-avatar:hover .chris-overlay {
    opacity: 1;
}

.chris-overlay {
    opacity: 0;
}

.chris-avatar:hover .chris-original {
    opacity: 0.5;
    background-color: white;
}

.about-text ul li {
    list-style-type: disc;
    margin-left: 1em;
}

/*-------------------------- PROJECTS SECTION --------------------------*/

#projects {
    background-color: #fff;
    margin: 0 auto;
}

#projects ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 1em;
}

/* #projects figure {
    position: relative;
    padding: 1em;
    background-color: lime;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.3s ease-in-out;
} */

#projects figure img {
    width: 100%;
    border-radius: 8px;

    /* object-fit: cover;
    display: block;
    mix-blend-mode: multiply;
    filter: grayscale(100%) contrast(1);
    transition: all 0.5s ease-in-out; */
}

/* #projects figure:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#projects figure::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #23278A;
    mix-blend-mode: lighten;
    transition: all 0.5s ease-in-out;
}

#project figure:hover::after,
#project figure:hover,
#project figure:hover img {
    filter: none;
    mix-blend-mode: unset !important;
    background: transparent;
} */

#projects a {
    margin-bottom: 10px;
}

/*-------------------------- SKILLS SECTION --------------------------*/

#skills {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, 100px);
    grid-template-areas: 
        "skills-heading"
        "skill-tiles";
    align-items: center;
    background-color: #000;
}

#skill-heading {
    grid-area: skills-heading;
    color: lime;
    font-family: "Press Start 2P";
    margin: 0 auto;
    font-size: 2em;
}

.skill-tiles {
    grid-area: skill-tiles;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(205px, 1fr));
}

.skill-tiles figure {
    position: relative;
    overflow: hidden;
    font-family: "Inconsolata-bold";
    border: 3px solid lime;
    border-radius: 8px;
    background-color: rgba(0, 255, 0, 0.2);
    margin: 15px;
}

.skill-tiles figure img {
    width: 100%;
    transition: all .3s ease-in-out;
}

.skill-tiles figure:hover img {
    transform: scale(1.25);
}

.skill-tiles figure figcaption {
    position: absolute;
    opacity: 0;
    background-color: rgba(13, 137, 13, 0.8);
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 2em;
    transition: all .5s ease-in-out;
    top: -35vh;
    z-index: 5;
    text-align: center;
    padding: 2.4em 0;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}

.skill-tiles figure:hover figcaption {
    opacity: 1;
    top: 0;
}

/*-------------------------- CONTACT SECTION --------------------------*/

#contact {
    min-height: 50vh;
    background-color: #fff;
}

/*-------------------------- FOOTER --------------------------*/

.page-footer {
    padding: 0;
    background-color: #000;
}

/*-------------------------- MEDIA QUERIES --------------------------*/

@media (max-width: 800px) {

    .console-container {
        font-size: 2em;
        background-position: 50%;
    }

    .skill-tiles {
        padding: unset;
        padding-bottom: 1.5em;
    }

    #projects {
        grid-template-columns: 1fr;
        grid-template-areas:
            "milestone-1"
            "milestone-2"
            "milestone-4"
            "milestone-5";
        background-color: #fff;
        margin: 0 auto;
    }
}
